.content.home {
    display: flex;
    flex-direction: column;
    width: min(70, 300px);
    margin: var(--main-margin);
    margin-top: 5rem;

    & .title {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    & p {
        width: 50ch;
        line-height: 1.5;
        margin-bottom: 5rem;
    }
}