.home {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100vw;
    position: relative;

    background-image: url('../../assets/background.jpg');
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-color);

    padding-block: 5rem;
}

.home > :nth-child(1) { /* Title, text, and button */
    margin-right: var(--main-margin);

    & p {
        width: 60ch;
        line-height: 1.5;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .home {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .home > :nth-child(1) { /* Title, text, and button */
        & h1, p {
            padding: 1rem;
            background-color: var(--foreground-color);
            color: var(--background-color);

        }

    }
}